<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    
    
  </div>
  <div class="flex">
  <div class="border-blue">
  <div class="border-white">
  <div class="img-box">
    <img src="../../assets/caricature.jpg">
  </div>
  </div>
</div>


</div>
<br>
<br>
<ion-card>
  <br>
  <br>
  <br>
  <br>
  <div class="flex" *ngIf="user != undefined">
    
    <h2>  <b>{{ user["name"]  }} </b></h2> 
   
   </div>
 <br>
 <br>
 <br>
 <br>
 <br>

<div class="flex" *ngIf="user != undefined">
  <h2><b>{{ user["firstname"]  }}</b></h2> 
 
 </div>
 <br>
 <br>
 <br>
 <br>
 <br>
<div class="flex" *ngIf="user != undefined">
 <h2><b>{{ user["adresse"]  }}</b></h2> 

</div>
<br>
<br>
<br>
<br>
<br>
<div class="flex" *ngIf="user != undefined">
  <h2><b>{{ user["phone"]  }}</b></h2> 
 
 </div>
 <br>
<br>
<br>
<br>
<br>
<div class="flex" *ngIf="user != undefined">
  <h2><b>{{ user["email"]  }}</b></h2> 
 
 </div>
</ion-card>
</ion-content>
