<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    
    
  </div>
  <div class="flex">
  <div class="border-blue">
  <div class="border-white">
  <div class="img-box">
    <img src="../../assets/caricature.jpg">
  </div>
  </div>
</div>


</div>
<br>
<br>
<br>
<br>
<br>


<div class="flex" *ngIf="user != undefined">
  <h2>name : {{ user["name"]  }}</h2> 
 
 </div>
 <br>
 <br>
 <br>
 <br>
 <br>

<div class="flex" *ngIf="user != undefined">
  <h2>first name: {{ user["firstname"]  }}</h2> 
 
 </div>
 <br>
 <br>
 <br>
 <br>
 <br>
<div class="flex" *ngIf="user != undefined">
 <h2>Adresse : {{ user["adresse"]  }}</h2> 

</div>
<br>
<br>
<br>
<br>
<br>
<div class="flex" *ngIf="user != undefined">
  <h2>Phone : {{ user["phone"]  }}</h2> 
 
 </div>
 <br>
<br>
<br>
<br>
<br>
<div class="flex" *ngIf="user != undefined">
  <h2>email: {{ user["email"]  }}</h2> 
 
 </div>
</ion-content>
