ion-content {
    --ion-background-color: linear-gradient(#e66465, #9198e5);
  }

  .space-between {
    display: flex;
    justify-content: space-between;
    padding:10px 10px 0px 10px;
  }
  .padding {
    padding: 5%;
  }
  
  ion-content{
    display: flex;
  
  justify-content: center;
  }