ion-item {
    --ion-background-color: transparent !important;
  }
  .padding {
    padding: 5%;
  }
  .space-between {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
  }