<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
  <div class=padding>
    <br>
    <ion-item  button (click)="showAdvncePicker()">
       
      <ion-label class="ion-text-left" > <ion-icon name="trail-sign-outline"></ion-icon> Travling from </ion-label>
      <ion-label class="ion-text-right"> {{departure}} to {{destination}} </ion-label>
      
      
      </ion-item>
      <br>
      <ion-item lines="none">
      <ion-list>
        
        <ion-label><ion-icon name="briefcase-outline"></ion-icon> Choose package form</ion-label>
        <ion-item *ngFor="let entry of form">
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-item>
      <br>
  <ion-item >
    <ion-label><ion-icon name="calendar-outline"></ion-icon> Date</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY"></ion-datetime>
  </ion-item>
  <br>
  <ion-item >
    <ion-label><ion-icon name="time-outline"></ion-icon> Hour</ion-label>
    <ion-datetime displayFormat="HH:mm"></ion-datetime>
  </ion-item>
  <br>


<br>
<br>

  <div class="ion-text-center">
<ion-button shape="round"  routerLink="/tabs" >propose</ion-button>
</div>
</div>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
