<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div class="header">
    
    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary" mode="ios">4.5</ion-badge>
      <p><ion-icon name="star-outline"></ion-icon></p>
    </div>
    <div class="followings">
      <ion-badge color="primary" mode="ios">20</ion-badge>
      <p>orders</p>
    </div>
    </div>
  </div>
  <div class="flex">
  <div class="border-blue">
  <div class="border-white">
  <div class="img-box">
    <img src="../../assets/caricature.jpg">
  </div>
  </div>
</div>

</div>
<br>
<br>
<br>
<br>
<div class="flex" *ngIf="user != undefined">
 <h2>{{ user["name"]  }} {{ user["firstname"]  }}</h2>
</div>
<ion-grid>
  <ion-row>
    <ion-col size-md="6" offset-md="3">
<ion-searchbar show-cancel-button="always"></ion-searchbar>  
<br>
<ion-card>
  <ion-item>
    <ion-label>
      <h2><b>Name of applicant</b></h2>

    </ion-label>
  </ion-item>
  <ion-item lines="none" class="commande">
    <ion-label text-wrap>
      j'ai ".." colis de type "......" a envoyer de "....." à "......" Le "../../...." a partir de HH.mn
    </ion-label>
  </ion-item>
  <ion-button size="small">
    <ion-icon slot="start" name="repeat-outline"></ion-icon>
    exchange</ion-button>
</ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>